@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--colors-text);
    background-color: var(--colors-bg);

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

body {
    margin: 0;
    background-color: var(--colors-bg);
}

html, body, #root {
    height: 100%;
    overflow: hidden;
}

#root {
    display: flex;
}

input[type=checkbox] {
    margin: 0;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

body[data-theme='light'] {
    --colors-text: black;
    --colors-bg: whitesmoke;
    --colors-button-bg: #5be95b;
}

body[data-theme='dark'] {
    --colors-text: whitesmoke;
    --colors-bg: grey;
    --colors-button-bg: green;
}
